@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100&family=Racing+Sans+One&family=Ramaraja&display=swap');

:root{
    --color: #01d9ff;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}

#outline{
    width: 35px;
    height: 35px;
    border:2px solid white;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0 ;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
}

.main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background: linear-gradient(to right, black, rgb(2, 2, 45),rgb(0, 0, 61));
    position: relative;
}
.menu-bar{
    width: 100%;
    height: 100%;
    position: absolute;
    /* visibility: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-timing-function: 1;
    visibility:hidden;
    backdrop-filter: blur(15px);
    z-index: 10;

}
@keyframes menu-loader {
    from{
        width: 0%;
        visibility: visible;
    }
    to{
        width: 100%;
    }
}
.menuload{
    animation: menu-loader 2s;
    visibility: visible;
}

.nav{
    width: 100%;
    height: 8.5vh;
    /* background-color: white; */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    z-index: 9;
}
.nav span{
    font-size: 2.5vw;
    float: left;
    position: absolute;
    font-family: 'Ramaraja', serif;
    left: 0;
    font-weight: 500;
    margin-left: 12vw;
    text-transform: capitalize;
    background:linear-gradient(to right, white, rgb(194, 191, 191),rgb(188, 188, 188)) ;
    background-clip: text;
    color: transparent;
    margin-top: 17px;
    cursor: cell;
}

.nav span:hover{
    font-weight: 900;
}
.nav #nav-list{
    display: flex;
    position: relative;
    list-style-type: none;
    margin-right: 3%;
    gap: 70px;
    font-size: 2.7vh;
    
}
#nav-list img{
    width: 4vh;
    visibility: hidden;
    cursor: pointer;
}
#nav-list li{
    text-align: center;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    transition: .9s;
}
#nav-list li:hover{
    color: var(--color);
    text-shadow: 4px 4px 8px var(--color);
}
#nav-list li:nth-child(5){
    margin-right: 1.8em;
}
#nav-list li:nth-child(3){
    margin-right: 1.8em;
}
#nav-list li::before{
    content: '';
    width: 0px;
    height: 100%;
    border-bottom: 0px solid var(--color);
    position: absolute;
    bottom: 0;
}
#nav-list li:hover::before{
    width: 80px;
    height: 4px;
    border-bottom: 4px solid var(--color);
    animation: nav-animation 1s  1;
}
@keyframes nav-animation {
    0%{
        width: 0px;
        border-bottom: 4px solid var(--color);
    }
    100%{
        width: 80px;
        border-bottom: 4px solid var(--color);
    }
}

@media (max-width:1200px) {
    .main{
        width: 100vw;
        height: 100vh;
    }
    .nav span{
        font-size: 35px;
    }   
    #nav-list img{
        visibility: visible;
    }
    #nav-list li{
        visibility: hidden;
    }
    .content .photo{
        width: 300px;
        height: 300px;
        left: 40vw;
        top: 10%;
        z-index: 8;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .small-caption{
        width: 100vh;
        position: absolute;

    }
}

.menu-bar #menu-list li{
    color: #fff;
    font-size: 70px;
    list-style-type: none;
    animation: drag .1s 1 2s;
    cursor: pointer;
    transition: .5s;
}

.menu-bar #menu-list li:hover{
    color: var(--color);
    text-shadow: 1px 1px 12px var(--color);
}
.menu-bar #menu-list #cross{
    width: 75px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}
#menu-list li:hover::before{
    width: 200px;
    height: 4px;
    border-bottom: 4px solid var(--color);
    animation: nav-animation .5s  1;
    box-shadow: 0px 0px 22px 2px var(--color);   
}
#menu-list li::before{
    content: '';
    width: 0px;
    height: 100%;
    border-bottom: 0px solid var(--color);
    position: absolute;
    margin-top: 70px;
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.photo{
    width: 27vw;
    height: 27vw;
    background: linear-gradient(to right, rgb(33, 33, 33), rgb(3, 3, 74),rgb(2, 2, 120));
    position: absolute;
    top:30%;
    border-radius: 50%;
    margin-left: 1.2%;
    overflow: hidden;
    transition: 2s;
    box-shadow: 0px 0px 222px var(--color),0px 0px 112px #7fecff;

}
.photo:hover{
    box-shadow: 0px 0px 200px var(--color), 0px 0px 100px #7fecff;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 98;
}

.small-caption{
    width: 45vw;
    height: 25vh;
    /* background-color: red; */
    position: absolute;
    top: 30%;
    right: 0;
    display: inline;
    justify-content: center;
    text-align: left;
    z-index: 1;

}
.small-caption h1{
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
}
.small-caption p{
    font-size: 1.5rem;
    text-wrap:balance;
    color: #fff;
    margin-top: 5%;
    padding-bottom: 5%;
}

.small-caption .btn-profile{
    width: 18rem;
    height: 3.8rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 50px;
    margin-top: 5%;
    border: 3px solid var(--color);
    transition: .5s;
}

.small-caption .btn-profile:hover{
    box-shadow: 1px 1px 20px var(--color);
    background-color: var(--color);
}
.small-caption .btn-profile a{
    width: 18rem;
    height: 3.8rem;
    text-decoration: none;
    color: var(--color);
    transition: 1s;
    justify-content: center;
    align-items: center;
    display: flex;
}
.small-caption .btn-profile a:hover{
    color: #fff;
}